.navbar, .navbar-default {
	margin-bottom: 0;
	border-radius: 0;
}

body {
	background-image: linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
	background-color: #abddd8;
	min-height: 600px;
}

.pageContent {
	background-color: whitesmoke;
	box-shadow: 0px 0 10px 1px rgba(51,51,51,.5);
	margin: 1.5em auto;
	border-radius: 10px;
	margin-top: 100px;
	padding: 2em;
	width: 75%;
}

h4 button.btn.btn-small.btn-default{
	margin-left: 1em;
}
