.navbar, .navbar-default {
	margin-bottom: 0;
	border-radius: 0;
}

body {
	background-image: linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
	background-color: #abddd8;
	min-height: 600px;
}

.pageContent {
	background-color: whitesmoke;
	box-shadow: 0px 0 10px 1px rgba(51,51,51,.5);
	margin: 1.5em auto;
	border-radius: 10px;
	margin-top: 100px;
	padding: 2em;
	width: 75%;
}

div.dashboard label {
	font-size: 18px;
}

div.dashboard h5 {
	margin-bottom: 20px;
}

div.dashboard h5 button.btn.btn-small.btn-default{
	float: right;
}

div.dashboard form.form-inline div.form-group{
	display: block;
}

div.dashboard table.table-hover tbody tr:hover {
	background-color: #eeeeee;
}

div.dashboard table.table-hover tbody tr.th:hover {
	background-color: transparent;
}

div.settings {
	margin-bottom: 4em;
}

div.userPieChart {
	text-align: center;
}

/**Flashcards**/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	width: 50%;
	display: inline-block;
/*	margin: 2em auto;
*/}

/* flip the pane when hovered */
.flip-container.flipped .flipper, .flip-container.flipped .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 250px;
	height: 275px;
}


/* flip speed*/
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;

	/*Fade-in when new card loads*/
	    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.flipper:hover {
	cursor: pointer;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	text-align: center;
	background-color: white;
	padding: 2em;
	border: 1px solid gainsboro;
	box-shadow: 0px 0 10px 1px rgba(51,51,51,.5);
	position: absolute;
	top: 0;
	left: 0;
}



/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

div.deckNavBtns {
	text-align: center;
}
div.deckNavBtns button{
	margin: .5em;
}

div.FlashCardViewer {
	margin-top: 3em;
}

div.wrap-deck {
	text-align: center;
	margin-bottom: 3em;
}

div.wrap-deck h3 {
	margin-bottom: 1.5em;
}

div.card-deck {
	width: 50%;
	display: inline-block;
}



i.fa.fa-arrow-circle-left.fa-4x, i.fa.fa-arrow-circle-right.fa-4x {
	vertical-align: top;
	margin-top: 1.5em;
}

div.wrap-deck i {
	transition: color .5s ease;
	color: transparent;
}
div.wrap-deck:hover i {
/*	display: inline-block;
*/
	color: gray;
}
i.fa.fa-arrow-circle-left.fa-4x:hover {
	color: #4361c2;
	cursor: pointer;
}
i.fa.fa-arrow-circle-right.fa-4x:hover {
	color: #5cb85c;
	cursor: pointer;
}

div.arrow {
	height: 250px;
	display: inline-block;
	width: 50px;
	border: 1px solid gray;
}




