html {
/*	background-color: gainsboro;
*/}

main,  {
/*	box-shadow: 0px 0 10px 1px rgba(51,51,51,.3);
*/}

.navbar, .navbar-default {
	margin-bottom: 0;
	border-radius: 0;
/*	background-color: #abddd8;
*//*	box-shadow: 0px 0 10px 1px rgba(51,51,51,.3);
*/}

.jumbotron {
	background-color: #abddd8;
	margin-bottom: 0;
	padding: 1.5em;
	padding-bottom: .75em;
}

.jumbotron a , .jumbotron a:hover {
	text-decoration: none;
	color: #333;
}